<header id="editprofile">Edit Profile</header>
</br>
<%= form_for @user_info , :url =>{:action =>"update"} do |f| %>
			<%= f.label "Name:" %>		
			<%= f.text_field :name,:value => "#{@user_info.name}" %></br>
		<%= f.label "Age:" %>		
		<%= f.text_field :age ,:value => "#{@user_info.age}" %></br>
		<%= f.label "Occupation:" %>		
		<%= f.text_field :occupation ,:value => "#{@user_info.occupation}" %></br>
		<%= f.label "Education:" %>		
		<%= f.text_field :education ,:value => "#{@user_info.education}" %></br>
		<%= f.label "Phone No:" %>		
		<%= f.text_field :phone ,:value => "#{@user_info.phone}" %></br>
		<%= f.label "Picture:" %>
		<p class="photo"><%= f.file_field :pictuer,:value => "#{@user_info.pictuer}" %></p> <%= image_tag @user_info.pictuer, :size => "25x25" %> </br></br>
		<%= f.submit "Update"%>
  <% end %>

