<!DOCTYPE html>
<html>
<head>
  <title>ProfileManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id=signout>
    	<% if user_signed_in? %>
				Signed in as <p class="email_index"><%= current_user.email %></p> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    	<% else %>
    		<%= link_to "Sign Up", new_user_registration_url %> or <%= link_to "Sign in", new_user_session_path %>
    	<% end %>
    </div>

<%= yield %>

</body>
</html>
